<mat-nav-list>
  <a mat-list-item routerLink="/signin">
    <mat-icon>input</mat-icon>
    <span>Signin</span>
  </a>
  <a mat-list-item routerLink="/signup">
    <mat-icon>account_circle</mat-icon>
    <span>Signup</span>
  </a>
  <a mat-list-item routerLink="/signin">
    <mat-icon>hotel</mat-icon>
    <span>Accomodation</span>
  </a>
  <a mat-list-item routerLink="/signin">
    <mat-icon>lloyalty</mat-icon>
    <span>Offers</span>
  </a>
  <!-- <a mat-list-item routerLink="/signin">
    <mat-icon></mat-icon>
    <span></span>
  </a> -->
</mat-nav-list>
