// Include material themeing functions.
@import "~@angular/material/theming";
@import "./app/navigation/navtabs/navtabs.component.scss";
@import "./app/navigation/sidenav-list/sidenav-list.component.scss";

// Include non-theme styles for core.
@include mat-core();

$my-theme-primary: mat-palette($mat-green, 700, 300, 900);
$my-theme-accent: mat-palette($mat-green, A100, 50, A400);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);
@include navtabs-component-theme($my-theme);
@include sidenav-component-theme($my-theme);

////////////////////////////////////////////
$sams-typography: mat-typography-config(
  $font-family: "Rubik, sans-serif",
  $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(97.54px, 32px, 400),
  $title: mat-typography-level(61px, 0px, 500),
  $subheading-2: mat-typography-level(48.77px, 0.25px, 400),
  $subheading-1: mat-typography-level(34.54px, 0.25px, 400),
  $body-2: mat-typography-level(14.22px, 0.25px, 500),
  $body-1: mat-typography-level(16.26px, 0.5px, 400),
  $caption: mat-typography-level(12.19px, 1.25px, 400),
  $button: mat-typography-level(14.22px, 1.25px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(inherit, 1.125, 400),
);
